<.header>
  New Playlist
  <:subtitle>Use this form to manage playlist records in your database.</:subtitle>
</.header>

<.playlist_form changeset={@changeset} action={~p"/playlists"} />

<.back navigate={~p"/playlists"}>Back to playlists</.back>
