<.header>
  Edit check out later <%= @check_out_later.id %>
  <:subtitle>Use this form to manage check out later records in your database.</:subtitle>
</.header>

<.check_out_later_form changeset={@changeset} action={~p"/check_out_laters/#{@check_out_later}"} />

<.back navigate={~p"/check_out_laters"}>Back to check out laters</.back>
