<.header>
  New Bought track
  <:subtitle>Use this form to manage bought_track records in your database.</:subtitle>
</.header>

<.bought_track_form changeset={@changeset} action={~p"/bought_tracks"} />

<.back navigate={~p"/bought_tracks"}>Back to bought_tracks</.back>
